<article class="contacts-page">
  <h2 class="contacts-page__header header">
    Контактная информация
  </h2>
  <p class="contacts-page__text text">
    <span class="contacts-page__text_bold text">Адрес офиса и склада:</span>
    Россия, город Санкт-Петербург,<br/>
    проспект Обуховской Обороны, 76, корпус 7, помещение 2203А.<br/>
    У здания есть бесплатная общая парковка.
  </p>
  <app-yamaps></app-yamaps>
  <section class="contacts-page__section">
    <span class="contacts-page__text_bold text">
      Телефоны:
    </span>
    <span class="contacts-page__phone-numbers text">
      8 (921) 183 99 66
      8 (921) 094 32 32
    </span>
  </section>
  <section class="contacts-page__section">
    <span class="contacts-page__text_bold text">
      Электронный адрес:
    </span>
    <span class="contacts-page__email-text text">
      info@detaliremont.ru
    </span>
  </section>
  <section class="contacts-page__section">
    <span class="contacts-page__text_bold text">
      Рабочие часы и выходные дни
    </span>
    <span class="contacts-page__hours-text text">
      Пн — Пт с 09:00 до 19:00<br/>
      Сб, Вс — выходной.
    </span>
  </section>
  <span class="contacts-page__request text_middle">
    Заявки через сайт принимаются круглосуточно!
  </span>
</article>
