<article class="parts-page">
  <section class="parts-page__top top">
    <h2 class="parts-page__header ">Забудьте о простоях техники!<br/>Работайте с нами!</h2>
    <section class="parts-page__top-wrapper">
      <section class="parts-page__top-description">
        <p class="parts-page__text text">Доставка запчастей по всей России. <br/>
          Принимаем звонки с 9.00 до 21.00 по МСК<br/>
          Заказы на сайте принимаются круглосуточно.<br/>
          Наша команда подберет и установит<br/>
          запчасти в кротчайшие сроки с гарантией!</p>
        <button class="parts-page__btn">ОСТАВИТЬ ЗАЯВКУ</button>
      </section>
      <img class="top__img" src="../../../../assets/img/parts-page/wheeled-excavator.png" alt="wheeled-excavator">
    </section>
  </section>
    <h2 class="parts-page__header parts-page__header_middle">Поставляем запчасти и ремонтируем <br/>любую технику</h2>
  <section>
    <app-truck-tile></app-truck-tile>
  </section>
  <section class="parts-page__bottom-container">
    <section class="parts-page__bottom">
      <h2 class="parts-page__header parts-page__header_bottom header">Все просто!</h2>
      <p class="parts-page__text text">
        Если вас заинтересовали наши <br/>
        услуги, оставьте заявку. <br/>
        Консультант в ближайшее время <br/>
        обязательно свяжется с вами, <br/>
        чтобы обсудить детали.
      </p>
      <p class="parts-page__text parts-page__text_bottom text">
        По всем вопросам обращайтесь:
      </p>
      <span class="parts-page__phones">
        8 (921) 183 - 99 - 66<br/>
        8 (921) 094 - 32 - 32
      </span>
      <img class="parts-page__logo" src="../assets/img/static/logo.png" alt="logo-site">
    </section>
    <app-request-form></app-request-form>
  </section>
  <section>
    <app-warranty></app-warranty>
  </section>
</article>
