@import "~src/styles"

.form
  display: flex
  flex-direction: column
  width: 34.37vw
  height: 39.58vw
  border: 1px solid black
  text-align: start
  background-color: white
  border-radius: 40px
  margin-top: 5.57vw

  &__block
    width: 28.13vw
    display: flex
    flex-direction: column
    margin-left: 3.12vw

  &__header
    text-align: center
    margin-top: 3.12vw

  &__label
    font-family: "DINPro regular"
    font-size: $Xs-font-size
    margin-top: 1.51vw
    margin-bottom: 1.51vw

  &__btn
    font-size: $Xs-font-size
    color: white
    background-color: #1b23b0
    font-family: "Din pro black"
    border-radius: 20px
    width: 9.5vw
    height: 2.08vw
    margin: 1.56vw 0 0 3.12vw
    &:hover
      border: 2px solid black
      background-color: white
      color: #1b23b0
      transition: 0.4s

  &__textarea
    height: 11.45vw
    resize: none



