<div class="warranty">
  <section class="warranty__section">
    <h3 class="warranty__header">Запчасти из Европы</h3>
    <p class="warranty__paragraph">Поставляем оригинальные и аналоговые запчасти <br/>
      из Европы и Азии. Наши склады находятся в Спб и Европе.<br/>
      Обеспечиваем оперативную доставку запчастей!
    </p>
    <img class="warranty__img" src="../../../../assets/img/icon1.png" alt="warranty image 1">
  </section>
  <section class="warranty__section">
    <h3 class="warranty__header">Гарантия качества</h3>
    <p class="warranty__paragraph">На любую запчасть дается гарантия 90 дней.<br/>
      Все запчасти и узлы проходят проверку качества.<br/>
      Также 100% контроль герметичности на спец. стенде.
    </p>
    <img class="warranty__img" src="../../../../assets/img/icon2.png" alt="warranty image 2">
  </section>
</div>

