<div class="warranty-wrapper">
  <section class="warranty">
    <h3>Запчасти из Европы</h3>
    <p>Поставляем оригинальные и аналоговые запчасти <br/>
      из Европы и Азии. Наши склады находятся в Спб и Европе.<br/>
      Обеспечиваем оперативную доставку запчастей!
    </p>
    <img class="warranty-img first" src="../../../../assets/img/icon1.png" alt="warranty image 1">
  </section>
  <section class="warranty">
    <h3>Гарантия качества</h3>
    <p>На любую запчасть дается гарантия 90 дней.<br/>
      Все запчасти и узлы проходят проверку качества.<br/>
      Также 100% контроль герметичности на спец. стенде.
    </p>
    <img class="warranty-img second" src="../../../../assets/img/icon2.png" alt="warranty image 2">
  </section>
</div>

