/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'

$Head-letter-space: 0.06em
$Head-font-size: 3.49vw
$Paragraph-font-size: 1.3vw
$Xs-font-size: 0.86vw
$Md-font-size: 1.71vw
$line-height: 2.38vw
$black: 'DINPro black'

.header
  font-size: $Head-font-size
  font-family: 'DINPro black'
  letter-spacing: $Head-letter-space

.text
  font-size: $Paragraph-font-size
  font-family: 'DINPro regular'
  letter-spacing: $Head-letter-space
  line-height: $line-height

.text_middle
  font-family: 'DINPro regular'
  letter-spacing: $Head-letter-space
  font-size: $Md-font-size
  line-height: $line-height

.phones
  display: flex
  flex-direction: column
  font-family: 'DINPro black'
  justify-content: center
  font-size: 1.72vw
  letter-spacing: $Head-letter-space
