/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'

//@font-face
//  font-family: DINPro regular
//  src: url(assets/fonts/DINpro/dinpro-regular.otf) format("opentype")
//
//@font-face
//  font-family: DINPro Medium
//  src: url(assets/fonts/DINpro/dinpro-medium.ttf) format("opentype")
//
//@font-face
//  font-family: DINPro black
//  src: url(assets/fonts/DINpro/dinpro-black.otf) format("opentype")

body
  background-image: url("/assets/img/bg.png")
  background-size: cover

$Head-letter-space: 0.08em
$Head-font-size: 3.49vw
$Paragraph-font-size: 1.3vw
$Xs-font-size: 0.86vw

.header
  font-size: $Head-font-size
  font-family: 'DINPro black'
  letter-spacing: $Head-letter-space

.text
  font-size: $Paragraph-font-size
  font-family: 'DINPro regular'
  letter-spacing: $Head-letter-space
