<article class="about-page">
  <h2 class="about-page__header header">О нас</h2>
  <p class="about-page__text text_middle">
    Наша фирма находит индивидуальный <br>
    подход к каждому заказчику!
  </p>
  <p class="about-page__text text">
    <span class="about-page__text_bold">Компания Детали и Сервис</span> — это успешно развивающаяся <br>
    фирма, ориентированная на поставки запасных частей для <br>
    дорожно-строительной, горнодобывающей, карьерной техники <br>
    <span class="about-page__text_bold">Komatsu, Hitachi, Caterpillar, Dressta, Volvo, JCB, New Holland, <br>
    Terex, Hyundai, Hamm, Case, BOMAG</span> и других производителей.
  </p>
  <p class="about-page__text text">
    Мы занимаемся подбором и продажей оригинальных запасных <br>
    частей, аналогов и расходных материалов на заказ.
  </p>
  <p class="about-page__text text">
    Наши менеджеры подберут необходимую запасную часть <br>
    по наиболее выгодной стоимости и кратчайшим сроком доставки, <br>
    а также проконсультируют Вас по всем вопросам связанным <br>
    с эксплуатацией и ремонтом техники. В компании предусмотрены <br>
    специальные условия для постоянных клиентов.
  </p>
  <p class="about-page__text text">
    <span class="about-page__text_bold">Детали и Сервис</span> ежедневно совершенствует свою работу. <br>
    Наша компания сотрудничает с поставщиками в Европе, Азии <br>
    и США. Обращаясь к нам по любым «заказным» позициям, <br>
    Вы можете рассчитывать на лучший срок поставки. Также у нас <br>
    регулярно курсирует транспорт в Польшу и Прибалтику.
  </p>
  <img class="about-page__img" src="../../../../assets/img/about/aboutus_icon.png" alt="about-page-img">
</article>
