<article class="delivery-page">
  <h2 class="delivery-page__header header">Доставка</h2>
  <section class="delivery-page__section">
    <img src="../../../../assets/img/delivery-page/1.png" alt="section image" class="delivery-page__img">
    <p class="delivery-page__text text">
      <span class="delivery-page__text_bold">
        По Санкт-Петербургу и области:
      </span> <br/>
      Клиенты, находящиеся в пределах КАД +20 км<br/>
      осуществляеться бесплатная доставка.
    </p>
  </section>
  <section class="delivery-page__section delivery-page__section_central">
    <img src="../../../../assets/img/delivery-page/2.png" alt="section image" class="delivery-page__img">
    <p class="delivery-page__text text">
      <span class="delivery-page__text_bold">
        По России:
      </span>
       Клиентам других городов России и СНГ<br/>
      груз отправляется транспортными компаниями<br/>
      (Деловые Линии, СДЕК, DHL). Наши логисты<br/>
      просчитают наилучший вариант по стоимости<br/>
      и сроку поставки до пункта назначения.
    </p>
  </section>
  <section class="delivery-page__section">
    <img src="../../../../assets/img/delivery-page/3.png" alt="section image" class="delivery-page__img">
    <p class="delivery-page__text text">
      Доставка по России с нашего склада до терминала<br/>
      транспортной компании – бесплатна! Вы платите<br/>
      только за доставку от терминала города отправителя<br/>
      до терминала города получателя.
    </p>
  </section>
  <section class="delivery-page__section delivery-page__section_central">
    <img src="../../../../assets/img/delivery-page/4.png" alt="section image" class="delivery-page__img">
    <p class="delivery-page__text text">
      <span class="delivery-page__text_bold">
        Из-за рубежа:
      </span>
      Срок поставки из-за рубежа составляет<br/>
      от 2-х дней, более подробную информацию<br/>
      Вы сможете уточнить у Вашего личного менеджера.<br/>
    </p>
  </section>
</article>
