<footer>
  <p class="requisites">
    ООО "Детали и Сервис" г. Санкт-Петербург,<br/>
    проспект Обуховской Обороны дом 76, к. 7, офис 2203А<br/>
    Время работы: Понедельник-Пятница 09:00 - 19:00<br/>
    Заявки принимаются в любое время, в любой день недели!
  </p>
  <div class="phones">
   <p>8 (921) 183 99 66</p>
   <p>8 (921) 094 32 32</p>
  </div>
  <div class="social">
    <img src="../../../assets/img/instagram_logo.png" alt="instagram logo">
    <img src="../../../assets/img/telegram_logo.png" alt="telegram logo">
    <img src="../../../assets/img/whatsapp_logo.png" alt="whatsapp logo">
  </div>
</footer>
