@import "~src/styles"

.footer
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 75vw
  height: 5.20vw
  margin: 6.25vw auto 1.56vw auto

  &__requisites
    font-family: 'DINPro regular'
    font-size: $Xs-font-size
    letter-spacing: $Head-letter-space
    line-height: 1.40vw
    margin: 0

  &__social
    display: flex
    flex-direction: row
    width: 10.15vw
    justify-content: space-between

  &__img
    width: 2.34vw
    height: 2.39vw
    margin-top: 15%



