@import "~src/styles"

.social
  display: flex
  flex-direction: row
  width: 10.15vw
  justify-content: space-between

.social img
  width: 2.34vw
  height: 2.39vw
  margin-top: 15%

footer
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 75.10vw
  height: 5.20vw
  margin: 6.25vw auto 1.56vw auto

.requisites
  font-family: 'DINPro regular'
  font-size: 0.86vw
  letter-spacing: $Head-letter-space
  line-height: 1.40vw

.phones
  display: flex
  flex-direction: column
  font-family: 'DINPro black'
  justify-content: center
  font-size: 1.72vw
  letter-spacing: $Head-letter-space

footer p
  margin: 0
